# Ignorar todo el contenido de las carpetas, pero permitir la carpeta y .gitkeep

/local_dir/*
!/local_dir/
!/local_dir/.gitkeep

/db_init_mysql/*
!/db_init_mysql/
!/db_init_mysql/.gitkeep

/db_init_postgres/*
!/db_init_postgres/
!/db_init_postgres/.gitkeep
!db_init_postgres/pg_hba.conf

/db_init_sqlserver/*
!/db_init_sqlserver/
!/db_init_sqlserver/.gitkeep

# Ignorar archivos de entorno
.env

# Otros archivos o carpetas típicos a ignorar
*.log
*.tmp
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
**/.docker
